body{
    display: flex;
    justify-content: center;
align-items: center;
}


#box{
height:100px;
width: 100px;
background-color:rgb(19, 176, 165);
position: relative;
margin-top: 70px;
border-radius: 50%;
box-shadow: 2px 2px 10px 2px black;

}
#eye1{
    height:20px;
width: 20px;
background-color: rgb(235, 10, 197);
position: absolute;
border-radius: 50%;
margin-top: 50px;
margin-left: 50px;
}
#eye2{
    height:20px;
width: 20px;
background-color: rgb(235, 10, 197);
position: absolute;
border-radius: 50%;
margin-top: 50px;
margin-right: 50px;
}
#iris1{
    height:15px;
width: 10px;
background-color:aliceblue;
position: absolute;
border-radius: 50%;
margin-top: 50px;
margin-left: 50px;
}
#iris2{
    height:15px;
width: 10px;
background-color:aliceblue;
position: absolute;
border-radius: 50%;
margin-top: 50px;

margin-right: 50px;
}
#ir1{
    height:8px;
width: 8px;
background-color:black;
position: absolute;
border-radius: 50%;
margin-top: 60px;

margin-left: 50px;

}
#ir2{
    height:8px;
width: 8px;
background-color:black;
position: absolute;
border-radius: 50%;
margin-top: 60px;

margin-right: 50px;
}
#mouth {
    position: absolute;
    margin-top: 100px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 6px solid black;
    border-top: none;
}